.resumenCompra{
    width: 80vw;
    margin-top: 5vh;
    margin-left: 10vw;
}
.ordenCompleta{
    margin-left: 3vw;
    max-width: 70vw;
    min-height: 52vh;
    padding: 2vh;
    opacity: 0.5;
    color: rgb(12, 11, 11);

}
.orden1{    
    padding-top: 10vh;
    margin-left: 10vw;
    background-color: rgb(231, 225, 218);
    height: 100%;

}
.orden2{
    background-image: url('../../img/portada01.jpg');
    border-left: 1px solid gray;
    object-fit:cover;
    height: 50vh;
    

}
.orden1 p,h3,h4,h5,h6{
    margin-top: 2vh;
    color: rgb(25, 24, 27);
    line-height: 1.5;

}

