nav{
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    height: 10%;
}
.App-logo {
    height: 10vmin;
    display: block;
    pointer-events: none;
    text-align: left;
    padding-top: 2vh;
    
}

@media (prefers-reduced-motion: no-preference) {
.App-logo {
    animation: App-logo-spin infinite 20s linear;
}
}
.letra{
    font-family: "Euphoria Script", cursive;
}

.Menu{
        background: rgb(187, 149, 162);
        display: block;
        width: 100vw;
        height: 17vh;
        padding-left: 3vw;
        color:white;



}

.Menu-link{
    width: 50vw;
    display: flex;
    margin-left: 40vh;
    color:white;

}

.link-item{
    margin-right: 5vw;
    
}