nav{
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    height: 10%;
}
.App-logo {
    height: 10vmin;
    display: block;
    pointer-events: none;
    text-align: left;
    padding-top: 2vh;
    
}

@media (prefers-reduced-motion: no-preference) {
.App-logo {
    animation: App-logo-spin infinite 20s linear;
}
}
.letra{
    font-family: "Euphoria Script", cursive;
}
a{
    text-decoration: none;
    color:inherit
}
a:hover{
    color:rgb(119, 94, 103)
}
ul{
    list-style: none;
}
.Menu{
        background: rgb(187, 149, 162);
        display: block;
        width: 100vw;
        height: 17vh;
        padding-left: 3vw;
        color:white;
}

.Menu-link{
    width: 60vw;
    display: flex;
    color:white;


}

.link-item{
    display: flex;
    margin-left: 30vh;
    width: 50vw;
    
    
}
.link-li{
    margin-right: 5vw;
    width: 10vw;

}